{{ ansible_managed | comment }}
storage "consul" {
  address = "127.0.0.1:8500"
  path    = "vault/"
  service_address = ""
}
listener "tcp" {
  address = "127.0.0.1:8200"
  tls_disable = "true"
}

# api_addr = "https://127.0.0.1:8200"
